<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>

		<!--Tab Title-->
		<title th:text="${userProfile.firstName + 's resume'}">Jonathan Doe | Web Designer, Director | name@yourdomain.com</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<meta name="keywords" content="" />
		<meta name="description" content="" />

		<!--CSS Links-->
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
		<link rel="stylesheet" type="text/css" href="../profile-templates/3/resume.css" media="all" />

	</head>
	<body>

		<div id="doc2" class="yui-t7">
			<div id="inner">

				<div id="hd">
					<div class="yui-gc">

						<div class="yui-u first">
							<!--Name-->
							<h1>
								<span th:text="${userProfile.firstName}" >Jonathan</span>
								<span th:text="${userProfile.lastName}">Doe</span>
								<a th:if="${currentUserProfile}" href="/edit">Edit</a>
							</h1>
							<!--Job title-->
							<h2 th:text="${userProfile.occupationTitle}">Web Designer, Director</h2>
						</div>

						<div class="yui-u">
							<div class="contact-info">
								<h3><a id="pdf" href="#">Download PDF</a></h3>
								<!--Email-->
								<h3>
									<a href="mailto:name@yourdomain.com" th:text="${userProfile.email}">
										name@yourdomain.com
									</a>
								</h3>
								<!--Phone number-->
								<h3 th:text="${userProfile.phone}">
									(313) - 867-5309
								</h3>
							</div><!--// .contact-info -->
						</div>
					</div><!--// .yui-gc -->
				</div><!--// hd -->

				<div id="bd">
					<div id="yui-main">
						<div class="yui-b">

							<div class="yui-gf">
								<div class="yui-u first">
									<h2>Profile</h2>
								</div>
								<!-- Profile Summary Section -->
								<div class="yui-u">
									<p class="enlarge" th:text="${userProfile.summary}">
										Progressively evolve cross-platform ideas before impactful infomediaries. Energistically visualize tactical initiatives before cross-media catalysts for change.
									</p>
								</div>
							</div><!--// .yui-gf -->

							<!-- Skill section -->
							<div class="yui-gf">
								<div class="yui-u first">
									<h2>Skills</h2>
								</div>
								<div class="yui-u">

									<div class="talent" th:each="skill : ${userProfile.skills}">
										<h2 th:text="${skill}">Web Design</h2>
									</div>


								</div>
							</div><!--// .yui-gf -->

<!--							<div class="yui-gf">-->
<!--								<div class="yui-u first">-->
<!--									<h2>Skills</h2>-->
<!--								</div>-->
<!--								<div class="yui-u">-->
<!--									<ul class="talent" th:each="skill : ${userProfile.skills}">-->
<!--										<li th:text="${skill}">XHTML</li>-->

<!--									</ul>-->
<!--									-->
<!--								</div>-->
<!--							</div>-->

							<!--Work Experience Section-->
							<div class="yui-gf">
								<!--Work Experience Title-->
								<div class="yui-u first">
									<h2>Experience</h2>
								</div><!--// .yui-u -->

								<!--Individual Work Experience-->
								<div class="yui-u">

									<div class="job" th:each="job : ${userProfile.jobs}">
										<h2 th:text="${job.company}">Facebook</h2>
										<h3 th:text="${job.occupationTitle}">Senior Interface Designer</h3>
										<h4>
											<span  th:text="${job.formattedStartDate}">2005</span> -
											<span th:text="${job.currentJob} ? 'Present' :
								 				${job.formattedEndDate}">2007</span>
										</h4>
										<ul th:each="responsibility : ${job.responsibilities}">
											<li th:text="${responsibility}">Responsibility</li>
										</ul>
									</div>


								</div><!--// .yui-u -->
							</div><!--// .yui-gf -->


							<!--Education Section-->
							<div class="yui-gf last">
								<div class="yui-u first">
									<h2>Education</h2>
								</div>
								<div class="yui-u" th:each="education : ${userProfile.education}">
									<h2 th:text="${education.school}">Indiana University - Bloomington, Indiana</h2>
									<h3 th:text="${education.degree}">Dual Major, Economics and English &mdash; <strong>4.0 GPA</strong> </h3>
									<p class="subDetails">
										<span th:text="${education.formattedStartDate}">April 2011</span>
										-
										<span th:text="${education.student} ? 'Present' :
								 	${education.formattedEndDate}">Present</span>
									</p>
								</div>
							</div><!--// .yui-gf -->


						</div><!--// .yui-b -->
					</div><!--// yui-main -->
				</div><!--// bd -->

				<!--Footer-->
				<div id="ft">
					<p>
						<span th:text="${userProfile.firstName}">Jonathan</span>
						<span th:text="${userProfile.lastName}">Doe</span> &mdash;
						<a href="mailto:name@yourdomain.com">
							<span th:text="${userProfile.email}">
								name@yourdomain.com
							</span>
						</a>
						&mdash; <span th:text="${userProfile.phone}">(313) - 867-5309</span>
					</p>
				</div><!--// footer -->

			</div><!-- // inner -->


		</div><!--// doc -->


	</body>
</html>

